body{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align: left;
}
body {
    background-image: url(fondo.co.jpg);
}

header{
    background-color: aquamarine;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;

    menu{
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }